{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} CRYPTO ARBITRAGE {% endblock %}</h1>

    <select id = "cp_list" name= cp method="GET" action="/">
    {% for i in cp %}
    <option value= "{{i}}" SELECTED>{{i}}</option>"
    {% endfor %}
    </select>

    <select name= colours method="GET" action="/">
    {% for a in extra_info %}
    <option value= "{{a}}" SELECTED>{{a}}</option>"
    {% endfor %}
    </select>
    <button onclick="showPrice()">Show</button>
    <p>Kucoin: <span id = "kc"></span></p>
    <p>Binance:  <span id = "bn"></span></p>
    <p>profit: <span id = "f"></span></p>
<script>

function showPrice() {
    let element = document.getElementById("cp_list");
    let coin_pair = element.value
    let endpoint = "http://localhost:5000/api/get_price"+"?coinpair="+coin_pair
    console.log(coin_pair)
    $.ajax({
    type: "GET",
    url: endpoint,
    data: {},
    success: function (data) {
        document.getElementById("kc").innerHTML = data.kucoin
        document.getElementById("bn").innerHTML = data.binance
        let f = parseFloat(data.kucoin) - parseFloat(data.binance)
        document.getElementById("f").innerHTML = f
      console.log(data)
    }
  });
}

</script>
{% endblock %}